<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{blog_title}}{% block title %} :: {{main_page_title}}{% endblock %}</title>
    <style>{% block style %}{% endblock %}</style>
    <script>{% block script %}{% endblock %}</script>
</head>
<body>
  <p><strong>Навигация сайта</strong></p>
  <ul>
   <li><a href="/">{{main_page_nav}}</a></li>
   <li>{% if is_anonymous %}<a href="{% url 'auth' %}">Вход</a>   <a href="{% url 'register' %}">Регистрация</a>{% else %}<a href="{% url 'logout' %}">Выход</a>{% endif %}</li>
  </ul>
<div class="content">{% block content %}{% endblock %}</div>
</body>
</html>)